{{!-- 
<div class="random-beer-content" >
<img class="random-img"src="{{beers.[0].image_url}}"/>
<div class="beer-description">
<h1>{{beers.[0].name}}</h1>
<p>{{beers.[0].tagline}} </p>
<p>{{beers.[0].description}}</p>
<p>{{beers.[0].food_pairing}}</p>
<p>{{beers.[0].brewers_tips}}</p>
</div>
</div> --}}

<h1>Random Beer</h1>

<div class="cards">
      <img class="random-img"src="{{beers.[0].image_url}}"/>
  <div class="card-random">
    <h1>{{beers.[0].name}}</h1>
    <p>{{beers.[0].tagline}} </p>
    <p>{{beers.[0].description}}</p>
    <p>{{beers.[0].food_pairing}}</p>
   <p>{{beers.[0].brewers_tips}}</p>
    </div>
  </div>
 